.hero {
  position: relative;
  background-color: #232323; //TODO переделать цвет фона после согласования и сделать через  переменную в файле цветов
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;  //TODO переделать высоту когда разберусь с хедером
  padding: calc(11% + 60px) 0 0 11%; //TODO переделать  паддинг на мобилке и сверить по сетке с другими блоками
}

.imageWrapper {
  position: absolute;
  inset: 0;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right bottom;
  z-index: 0;
}

.hero__banner {
  position: relative;
  z-index: 1;
}

.hero__title {
  color: var(--white);
  letter-spacing: 0.03em;
  margin-bottom: clamp(15px, 1.8vw, 50px);
  font-size: clamp(50px, 5vw, 132px);
}

.hero__subtitle {
  letter-spacing: 0.02em;
  line-height: 140%;
  color: var(--white);
  font-weight: var(--fw-regular);
  font-size: clamp(18px, 2.2vw, 40px);
}

.hero__subtitle span {
  font-size: 40px;
  display: block;
}

.hero__subtitle span:first-of-type {
  font-weight: var(--fw-semi);
}

.hero__button {
  min-width: 395px;
  min-height: 60px;
  background-color: var(--button-color);
  color: var(--white);
  border: none;
  font-size: 20px;
  font-weight: var(--fw-semi);
  letter-spacing: 0.02em;
  margin-top: clamp(20px, 3.5vw, 75px);
}

@media (max-width: 1800px) {

  .hero {
    padding: calc(7% + 60px) 0 0 8%; //TODO переделать  паддинг на мобилке и сверить по сетке с другими блоками
  }

   .hero__button {
     padding: 0 20px;
    min-width: 280px;

  }

  .hero__subtitle span {
    font-size: 30px;
  }

}

@media (max-width: 1024px) {

  .hero {
    min-height: unset;
    aspect-ratio: 16/9;
    padding: calc(5% + 40px) 0 0 5%;
  }

  .hero__subtitle span {
    font-size: 18px;
  }

  .hero__button {
    padding: 0 15px;
    min-height: 50px;
    min-width: 210px;
    margin-top: 45px;
  }
}

@media (max-width: 750px) {
  .hero{
    width: 100%;
    aspect-ratio: 1/1.5;
    min-height: auto;
  }


  .img {
    object-fit: contain;
    object-position: center bottom;
  }

}

@media (max-width: 630px) {
  .hero {
    padding-left: 20px;   //TODO проверить остальные паддинги по сетке
  }

  .hero__button {
    min-height: 35px;
    font-size: 12px;
    margin-top: 25px;
  }
}
