.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #23232366;
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 20px;
}

.popup {
  background: var(--menu-back);
  padding: 40px 30px 30px;
  width: 100%;
  max-width: 600px;
  position: relative;
  color: white;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;

}

.title {
  text-transform: capitalize;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

.form {
  font-family: inherit ;
  display: flex;
  flex-direction: column;
  gap: 28px;

  input {
    padding: 14px 16px;
    border: none;
    font-size: 16px;
    background: var(--white);
    color: var(--color-text-dark);

    &::placeholder {
      color: #888;
      font-family: "Montserrat", sans-serif;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.7);
    }
  }
}

.checkboxLabel {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
}

.checkbox {
  accent-color: var(--buttonColor);
  justify-self: start;
  display: inline-block;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
}

.checkboxText {
  user-select: none;
}

.submitBtn {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

@media  (max-width: 600px) {
  .popup {
    padding: 40px 20px;
  }
  .submitBtn {
    font-size: 16px;
  }
}

@media  (max-width: 400px) {
  .popup {
    padding: 40px 15px;
  }
  .submitBtn {
    font-size: 14px;
  }
}
