:root {
  --font-main: var(--font-montserrat), system-ui, sans-serif;
  --font-accent: var(--font-pacifico), cursive; //TODO  удалить шрифт для проверки после того как вме будет готово

  --fw-regular: 400;
  --fw-semi: 600;
}
