@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: normal;
  src:  url('../fonts/Roboto-Regular.ttf') format("truetype");
}

/*
@font-face {
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 900;
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: bold;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
  url("../fonts/Inter-Bold.woff") format("woff");
}*/
