.page {
  color: crimson;
}
.header__main-illustration {
  height: 200px;
  width: auto;
}
.foto {
  border: 2px solid darkblue;
  height: 150px;
  width: 100px;
  background-size: cover;
  background-image: url('../images/111.jpg');
}
