@use "../styles/index";

/*$background-color: #cdc5bf;

$dark-color: #232323;
$accent-color: #171E22;

:export {

  backgroundColor:$background-color;

}*/ //TODO удалить лишнее

:root {
  --fs-h1: clamp(50px, 3.0625vw + 40.2px, 99px);
  --fs-h2: clamp(24px, 2.25vw + 16.8px, 60px);
  --fs-h3: clamp(20px, 1.25vw + 16px, 40px);
  --fs-h4: clamp(18px, 0.875vw + 15.2px, 32px);
  --textDColor: #232323;
  --buttonColor:#024e6b;
}
/*
h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
h4 { font-size: var(--fs-h4); }*/

html {
  font-size: 16px;
}

body {
  font-family: var(--font-main);
  max-width: 2000px;
  overflow-x: hidden;
  background-color: var(--background-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

h1 {
  //font-size: clamp(2.2rem, 3.3vw, 3.75rem);
  font-weight: 600;
}

h2 {
  font-size: var(--fs-h2);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-h3);
  line-height: 120%;
}

h4 {
  font-size: var(--fs-h4);
  line-height: 120%;
}


button {
  font-family: var(--font-main);
  transition: opacity 0.3s ease;
}

a:hover, button:hover {
  opacity: 0.6; //TODO переделать состояние когда обсудим с Андреем
}

