@use "../styles/index";
/*$base-path: "";*/

$base-path: "/akvahold";
/* Montserrat Regular */
@font-face {
  font-family: "Montserrat";
  src: url("#{$base-path}/fonts/Montserrat/montserrat-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Montserrat Bold (600) */
@font-face {
  font-family: "Montserrat";
  src: url("#{$base-path}/fonts/Montserrat/montserrat-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Familjen Grotesk */
@font-face {
  font-family: "Familjen";
  src: url("#{$base-path}/fonts/Familjen/FamiljenGrotesk-SemiBold.woff") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --fs-heading1: clamp(50px, 3.0625vw + 40.2px, 99px);
  --fs-heading2: clamp(24px, 2.25vw + 16.8px, 60px);
  --fs-heading40: clamp(20px, 1.25vw + 16px, 40px);
  --fs-heading32: clamp(18px, 0.875vw + 15.2px, 32px);
  --fs-heading24: clamp(18px, 0.375vw + 16.8px, 24px);
  --fs-heading18: clamp(14px, calc(13.2px + 0.25vw), 18px);
  --fw-regular: 400;
  --fw-semi: 600;
  --textDColor: #232323;
  --buttonColor:#024e6b;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 2000px;
  overflow-x: hidden;
  background-color: var(--background-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

button {
  font-family: var(--font-main);
  transition: opacity 0.3s ease;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a:hover, button:hover {
  opacity: 0.6; //TODO переделать состояние когда обсудим с Андреем
}

