
/* montserrat-regular - cyrillic-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Montserrat/montserrat-v31-cyrillic-ext-regular.woff2') format('woff2');
}
/* Inter-Regular.woff2 */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2');
}

$main-font: "Inter";
$second-font: "Montserrat";
$background-color: rgb(205, 197, 191);
$main-color: #004d6d;
$dark-color: #232323;
$accent-color: #171E22;
$text-color: #fff;

:root {
  background-color: $background-color;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: $text-color;
  background-color:$accent-color;
  font-family: $main-font, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/

/*
.main {
  display: grid; //TODO разобраться со стилями main
}*/
