.slider {
  width: 100%;
  min-height:80vh;
  position: relative;
  overflow: hidden;
}

.slide {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  position: relative;
  min-height: 80vh;
  width: 100%;
  padding: 2vw 4vw; //TODO сверить паддинги с остальными блоками
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "description description description"
    "nav image actions"
    "info info info";
  /*gap:  0 4vw;*/
  //TODO проветить отступы
  color: var(--white);
  background: linear-gradient(
      to top,
      #CDC5BF 0%,
      #8B7C71 20%,
      #5B5048 40%,
      #5B5048 100%
  );
  border: 3px solid red;
}

/* Подпись слайдера */
.description {
  grid-area: description;
  font-size: 24px;
}

.image_container {
  grid-area: image;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

.imageFade {
  object-fit: cover;
  object-position: left bottom;
  animation: fadeIn 0.6s ease-out forwards;
  width: 100%;
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Левые кнопки-переключатели */
.navigation {
  grid-area: nav;
  /* justify-self: start;*/
  align-self: center;
  font-size: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0;
  margin-bottom: 2.3vw;
  transition: all 0.4s ease;
}

.navigationButton {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  white-space: nowrap;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
  transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
  padding 0.4s ease;

}

.navigationButton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: var(--white);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Анимируем только ширину */
  opacity: 1;
}


.navigationButton_active::before {
  width: 4px;
  opacity: 1;
}

.actions {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info {
  grid-area: info;
  display: flex;

  justify-self: center;
  gap: 20px;
  flex-wrap: wrap;
}

.infoItem {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1300px) {

  .slide {
    padding-left: 20px;
    grid-template-columns: 360px 1fr;
    grid-template-rows: auto;
    /*gap: 20px;*/
  }

  .description {
    font-size: 14px;
    margin-top: 15px;
  }

  .navigationButton {
    padding: 5px 15px;
    font-size: 14px;
  }

}

@media (max-width: 1020px) {
  .slider {
    min-height: min-content;
  }
  .slide {
    padding-left: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto clamp(80px, calc(200px - 0.1714 * 100vw), 200px) auto;
    /*grid-template-rows: auto auto clamp(85px, -10.03vw + 187.3px, 120px)  auto;*/
    grid-template-areas:
    "nav"
    "image"
    "description "
    "arrows";
    gap: 15px;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    padding-bottom: 2.3vw;
  }
  .arrows {
    justify-self: center;
    margin-bottom: 0;
  }
  .title {
    display: none;
  }

  .description {
    font-size: 14px;
    padding: 0 10px;
    margin: 0px;
    min-height: auto;
  }

  .navigation {
    grid-area: nav;
    margin: 0;
    scroll-padding-left: 20px;
    scroll-behavior: smooth;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 100%;
    /*margin-bottom: 2.3vw;*/
    scrollbar-width: none;
    padding: 0 10px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .navigation::-webkit-scrollbar {
    display: none; /* Скрываем полосу прокрутки в Chrome/Safari */
  }


  .navigationButton::before {
    bottom: auto;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 2px;
    overflow-x: auto;
  }

  .navigationButton_active::before {
    height: 4px;
  }

  .image_container {
    aspect-ratio: 16/9;
  }
}

/*@media (max-width: 670px) {
  .slide {
    grid-template-rows: auto auto clamp(120px, -22.86vw + 273.14px, 200px) auto;
  }
}*/
