.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 60px;
  z-index: 26;
  color: var(--white);
}

.container {
  height: 60px;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  background: #575452;
  /*  background:  #898481;*/
  /*backdrop-filter: blur(25px);*/
}

// Десктоп меню

.desktopNav {
  display: block;
}

.menu {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.callback {
  min-width: 200px;
}

.link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.2s ease;
}

.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white);
  }
}

.contacts {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
}

.phone {
  color: white;
  white-space: nowrap;
}

/* бургер кнопка */
.burger {
  display: none;
  position: relative;
  width: 32px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;

  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
    transition: all 0.4s cubic-bezier(0.32, 0.72, 0, 1);
  }

  span:nth-child(1) {
    top: 0;
  }

  span:nth-child(2) {
    bottom: 0;
  }
}

.burger.open {
  span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}

// Мобильное меню

.mobileMenu:not(.open) .mobileContacts {
  transition: none; /* важно! */
}

.mobileMenu:not(.open) .mobileContacts button {
  transition: opacity 0.12s ease-out 0ms,
  transform 0.12s ease-out 0ms;
  opacity: 0;
  transform: translateY(15px);
}

.mobileMenu {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 50px);
  background: #575452;
  /* background:  #898481;*/

  backdrop-filter: none;
  /* background: #23232366;
   backdrop-filter: blur(25px);*/
  z-index: 30;
  pointer-events: none;
  /* overflow-y: auto;*/
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);

  border-top: 1px solid #fff;

  transition: transform 0.45s cubic-bezier(0.65, 0.05, 0.95, 0.4),
  opacity 0.28s ease;
}

.mobileMenu.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
}


.mobileMenuContent {
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 1;

  padding: 50px 9vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;

  .link {
    font-size: 16px;
  }
}

.mobileContacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.mobile_button {
  font-size: 16px;
}

@media (max-width: 1220px) {
  .header {
    min-height: 50px;
  }
  .container {
    height: 50px;
    gap: 35px;
  }

  .menu {
    gap: 20px;
  }
}

@media (max-width: 1110px) {
  .desktopNav {
    display: none;
  }

  .contacts {
    display: none;
  }

  .burger {
    display: block;
  }

  .mobileMenuList {
    gap: 0;
  }

  .mobileMenuList li {
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    width: 100%;
  }

  .active {
    &::after {
      content: none;
      display: none;
    }
  }

  .mobileContacts {
    font-size: 16px;
  }
}

@media (max-width: 1090px) {
  .container {
    padding: 0 5vw;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 20px;
    gap: 20px;
  }
}

/* Убираем анимации при reduced motion */
@media (prefers-reduced-motion: reduce) {
  .mobileMenu,
  .burger span {
    transition: none;
  }
}
