.slider {
  width: 100%;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
      to top,
      #CDC5BF 0%,
      #8B7C71 20%,
      #5B5048 40%,
      #5B5048 100%
  );
  transform: translateY(2px); // Нужен для того, что бы нижний слой темного фона секции не просвечивался
  will-change: transform;
}

.slide {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  position: relative;
  min-height: 60vh;
  width: 100%;
  padding: 0 4vw;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "description description description"
    "nav image actions"
    "info info info";
  color: var(--white);
}

/* Подпись слайдера */
.description {
  grid-area: description;
  font-size: 24px;
}

.image_container {
  grid-area: image;
  height: auto;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

.imageFade {
  object-position: left bottom;
  animation: fadeIn 0.6s ease-out forwards;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Левые кнопки-переключатели */
.navigation {
  grid-area: nav;
  align-self: center;
  font-size: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.4s ease;
  min-width: 170px;
  padding: 0 20px;
  gap: 24px;
}

.navigation::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #9b8f85;
}

.navigationButton {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  white-space: normal;
  justify-content: start;
  align-items: start;
  max-width: 150px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
  transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left center;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.navigationButton_active {
  font-weight: var(--fw-semi);
  font-size: 24px;
}

.navigationButton::after {
  content: "";
  position: absolute;
  left: -20px; /* вровень с серой линией */
  top: 0;
  height: 100%;
  width: 3px; /* толще */
  background: transparent;
  transition: background 0.4s ease;
}

/* показываем линию у активной */
.navigationButton_active::after {
  background: var(--white);
}

.actions {
  grid-area: actions;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.price {
  font-size: 24px;
  letter-spacing: 0.12em;
  min-width: 255px;
  font-weight: var(--fw-semi);
  animation: fadeIn 0.6s ease-out forwards;
}

.actions__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.actions__button {
  min-width: 245px;
  font-weight: var(--fw-semi);
  font-size: 16px;
}

.info {
  grid-area: info;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 130px);
  gap: 40px 3vw;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 7px;
  animation: fadeIn 0.6s ease-out forwards;
}

.value {
  font-size: var(--fs-heading32);
  align-self: center;
}

.unit {
  margin-left: 8px;
  font-size: 14px;
}

.label {
  font-size: 16px;
  line-height: 1.2;
  max-width: 130px;
  min-height: 3.6em;
  text-align: center;
}


@media (max-width: 1300px) {
  .slide {
    padding: 0 20px;
    min-height: min-content;
  }

  .price {
    font-size: 20px;
    letter-spacing: 0.12em;
    margin-bottom: 5px;
    min-width: 170px;
  }

  .actions__button {
    min-width: 240px;
    min-height: 45px;
    font-size: 14px;
  }

  .infoItem {
    gap: 5px;
  }
}

@media (max-width: 1020px) {

  .slide {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "description description"
      "nav image"
      "price price"
      "info info"
      "actions__buttons actions__buttons";
  }

  .actions__buttons {
    grid-area: actions__buttons;
    flex-direction: row;
  }

  .description {
    font-size: 18px;
  }

  .navigation {
    gap: 15px;
  }

  .navigationButton_active {
    font-weight: var(--fw-semi);
    font-size: 20px;
  }

  /* растворяем контейнер */
  .actions {
    display: contents;
  }

  .price {
    grid-area: price;
    margin-bottom: 20px;
  }

  .info {
    justify-content: flex-start;
    gap: 10px 25px;
    margin-bottom: 20px;
  }

  .value {
    font-size: var(--fs-h4);
  }

  .unit {
    margin-left: 8px;
    font-size: 14px;
  }

  .label {
    font-size: 14px;
    max-width: 120px;
  }
}

@media (max-width: 770px) {
  .slide {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "description description"
      "nav nav"
      "image image"
      "price price"
      "info info"
      "actions__buttons actions__buttons";
  }

  .navigation {
    margin-top: 30px;
    max-width: 200px;
  }

  .price {
    max-width: 200px;
  }

  .image_container {
    width: 100vw;
    margin: 0 -20px;
  }

  .info {
    width: 100%;
    grid-template-columns: repeat(auto-fit, 120px);
    gap: 15px;
  }
}

@media (max-width: 535px) {
  .slide {
    grid-template-columns: 1fr;
    grid-template-areas:
      "description"
      "nav"
      "image"
      "price"
      "info"
      "actions__buttons";
  }

  .actions__buttons {
    flex-direction: column;
  }

  .info {
    gap: 10px;
  }
}
