.footer {
  background-color: var(--color-text-dark);
  color:var(--white);
  padding: 60px 6.25vw;
  border-top: 1px solid #beb5ad;
}

#contacts {
  scroll-margin-top: 150px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.logoSection {
  max-width: 380px;
  min-width: 180px;
}

.contactsSection {
  width: 400px;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.copyright a {
  text-decoration: underline;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
 line-height: 1.4;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 400px;
}

.infoList a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}


.schedule {
  margin-top: 10px;
  opacity: 0.8;
}

.socialSection {
  min-width: 185px;
}
.socialList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 170px;
}

.socialItem {
  display: flex;
  min-height: 30px;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s;
}

.socialItem:hover {
  opacity: 0.7;
}

.socialItem span {
  font-size: 14px;
  letter-spacing: 1px;
}

@media (max-width: 1120px) {
  .title {
    font-size: 18px;
  }
  .footer {
    padding: 30px 20px;
  }
  .socialSection {
    min-width: 180px;
  }

  .contactsSection{
     width: 35%;
  }
  .container {
    gap: 40px;
  }
}


/* Адаптив для мобилок */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: start;
    text-align: start;
    gap: 40px;
  }
  .logoSection {
    max-width: 100%;
  }
  .contactsSection{
    width: 100%;
  }
  .infoList {
    max-width: 100%;
    align-items: start;
    justify-content: start;
  }

  .socialItem {
    justify-content: center;
  }
}



/*
!* src/components/Footer.module.scss *!

.footer {
  background-color: #111;
  color: #f5f5f5;
  padding-top: 40px;
  margin-top: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 32px;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.block {
}

.blockTitle {
  font-size: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 0 0 12px;
  color: #aaaaaa;
}

.text {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 1.6;
  color: #e0e0e0;
}

.linksList {
  list-style: none;
  margin: 0;
  padding: 0;

  li + li {
    margin-top: 6px;
  }
}

.link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.bottomBar {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 12px 24px;
  margin-top: 16px;
  text-align: center;
}

.copy {
  font-size: 12px;
  color: #999;
}
*/
