.slider {
  width: 100%;
  max-width: 2100px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
$accent-color: #171E22;
.slide {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  position: relative;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
}

/* Левые кнопки-переключатели по центру */
.leftNav {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  font-size: 0;
  display: flex;
  flex-direction: column; /* если нужно столбиком, можно убрать если в ряд */
  gap: 0;
}


.leftNavButton {
  font-family:inherit;
  color: inherit;
  background-color:transparent;
  padding:  10px 20px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-left: 2px solid #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  box-sizing: border-box;

  &.leftNavButton_active {
    border-left: 4px solid #fff;

    .bottom {
      font-weight: 700;
    }
  }
}

.top {
  font-weight: 700;
}




/* Название вверху по центру внутри слайда */
.container {
  display: block;
  margin: 80px auto 0;
  font-size: 32px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;

}

.maintitle{
  font-weight: 700;
  font-size: 32px;
}

.subtitle{
  font-weight: 400;
}

/* Описание внизу по центру */
.description {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;
  font-weight: 500;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
  margin: 0;

  font-size: 14px;
  color: #fff;
  text-align: center;
}

/* Стрелки снизу */
.arrows {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

.arrowButton {
  border: none;
  background-color: transparent;
  background-size: cover;
  color: #fff;
  padding: 0 14px 60px;
  border-radius: 999px;
  cursor: pointer;
  width: 65px;
  height: 40px;
  transition: background 0.2s, transform 0.2s;
  font-size: 40px;
}

//.arrowButton:hover {
//  background: rgba(0, 0, 0, 0.6);
//  transform: translateY(-1px);
//}
